{% extends "base.html" %}
{% load static %}

{% block head %}
  <link href="{% static 'styles.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Saira+Semi+Condensed:300,400,700" />
  <script src="{% static 'javascript/html2canvas.hertzen.com_dist_html2canvas.min.js' %}"></script>
  <script src="{% static 'javascript/consts.js' %}"></script>
  <script src="{% static 'player.js' %}"></script>
  <script src="{% static 'javascript/render.js' %}"></script>
{% endblock head %}

{% block body %}
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      init();
    });
  </script>


  <div class="bg" style="background: url('{% static 'images/bg.jpg' %}') no-repeat center center/cover;"></div>
  <div id="preview"></div>
  <div class="player_card">

    // Font | Optional
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Saira+Semi+Condensed:300,400,700")
// Wrapper | For this page - !!ignore
.wrapper
  // *** fut-player-card ***
  .fut-player-card
      // Player Card Top
      .player-card-top
          .player-master-info
              .player-rating
                  span 97
              .player-position
                  span RW
              .player-nation
                  img(src="https://selimdoyranli.com/cdn/fut-player-card/img/argentina.svg", alt="Argentina", draggable="false")
              .player-club
                  img(src="https://selimdoyranli.com/cdn/fut-player-card/img/barcelona.svg", alt="Barcelona", draggable="false")
          .player-picture
              img(src="https://selimdoyranli.com/cdn/fut-player-card/img/messi.png", alt="Messi", draggable="false")
              .player-extra
                  span 4*SM
                  span 4*WF
      // Player Card Bottom
      .player-card-bottom
          .player-info
              // Player Name
              .player-name
                  span MESSI
              // Player Features
              .player-features
                  .player-features-col
                      span
                          .player-feature-value 97
                          .player-feature-title PAC
                      span
                          .player-feature-value 95
                          .player-feature-title SHO
                      span
                          .player-feature-value 94
                          .player-feature-title PAS
                  .player-features-col
                      span
                          .player-feature-value 99
                          .player-feature-title DRI
                      span
                          .player-feature-value 35
                          .player-feature-title DEF
                      span
                          .player-feature-value 68
                          .player-feature-title PHY

  </div>

{% endblock body %}
