{% extends "base.html" %}

{% block title %} Players {% endblock %}

{% load static %}


{% block body %}



<section class="fifa-card-section">

    <h2>Player cards</h2>
    <div class="card-grid">   

        {% for player in players %}


            <div class="cards-container">

                <div class="fut-player-card">
                    <div class="player-card-top">
                        <div class="player-master-info">
                            <div class="player-rating">
                                <span>{{ player.over_rating }}</span>
                            </div>
                            <div class="player-position">
                                <span>{{ player.position }}</span>
                            </div>
                            <div class="player-nation">
                                <img src="https://flagcdn.com/24x18/{{ player.country.code|lower }}.png"
                                alt="{{ player.country.name }} flag"
                                draggable="false" />


                            </div>
                            <div class="player-club">
                                <img src="{{ player.club_flag.url }}" alt="club flag"
                                    draggable="false" />
                            </div>
                        </div>

                        <div class="player-picture">
                            <img class="player-img" src="{{ player.imge.url }}">
                        </div>

                    </div>
                    <div class="player-card-bottom">
                        <div class="player-info">
                            <!-- Player Name-->
                            <div class="player-name" style=" color: #e9cc74;">
                                <span>{{player.name}}</span>


                            </div>
                            <!-- Player Features-->
                            <div class="player-features" >
                                <div class="player-features-col">
                                    <span>
                                        <div class="player-feature-value">{{ player.Pace }}</div>
                                        <div class="player-feature-title">PAC</div>
                                    </span>
                                    <span>
                                        <div class="player-feature-value">{{ player.shooting }}</div>
                                        <div class="player-feature-title">SHO</div>
                                    </span>
                                    <span>
                                        <div class="player-feature-value">{{ player.passing }}</div>
                                        <div class="player-feature-title">PAS</div>
                                    </span>
                                </div>
                                <div class="player-features-col">
                                    <span>
                                        <div class="player-feature-value">{{ player.dribbling }}</div>
                                        <div class="player-feature-title">DRI</div>
                                    </span>
                                    <span>
                                        <div class="player-feature-value">{{ player.Defense }}</div>
                                        <div class="player-feature-title">DEF</div>
                                    </span>
                                    <span>
                                        <div class="player-feature-value">{{ player.Physical }}</div>
                                        <div class="player-feature-title">PHY</div>
                                    </span>
                                </div>


               

                                
                            </div>
                            <a href="{{ player.get_absolute_url }}" class="btn btn-warning" style="margin: 20px 0 0 10px; border-color: #e9cc74;">
                                Player Detail
                            </a>
                        </div>

 
                    </div>

                </div>
            </div>


        {% endfor %}



    </div> 


    {% if is_paginated %}
        <nav aria-label="Page navigation">
        <ul class="pagination pagination-lg d-flex justify-content-center">

            {# Previous page number #}
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
            </li>
            {% endif %}

            {# Current page (highlighted) #}
            <li class="page-item active" aria-current="page">
            <span class="page-link">
                {{ page_obj.number }}
                <span class="sr-only">(current)</span>
            </span>
            </li>

            {# Next page number #}
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
            </li>
            {% endif %}

        </ul>
        </nav>
    {% endif %}

   
      
</section>

{% endblock body %}
