{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}My Site{% endblock %}</title>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Saira+Semi+Condensed:300,400,700" />

    <link rel="stylesheet" href="{% static 'css/pagination.css' %}">
    <link rel="stylesheet" href="{% static 'css/w3.css' %}">
    <link rel="stylesheet" href="{% static 'styles.css.css' %}">
    <link rel="stylesheet" href="{% static 'css/cardty.css' %}">



    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.4/dist/leaflet.css" />

    <!-- Leaflet JS -->


    <script src="{% static 'javascript/html2canvas.hertzen.com_dist_html2canvas.min.js' %}"></script>
    <script src="{% static 'javascript/consts.js' %}"></script>
    <script src="{% static 'player.js' %}"></script>
    <script src="{% static 'javascript/render.js' %}"></script>

    <style>
        html,
        body,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: "Roboto", sans-serif
        }
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap" rel="stylesheet">

    <!-- 
  - custom css link
-->

    <link rel="stylesheet" href="{% static './assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/AboutUs.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/AboutUs.css' %}">

    <!-- 
  - favicon
-->
    <link rel="shortcut icon" href="{% static './favicon.svg' %}" type="image/svg+xml">

    <!-- 
  - google font link
-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap" rel="stylesheet">

    <!-- 
  - custom css link
-->
    <link rel="stylesheet" href="{% static './assets/css/style.css' %}">

    <!-- 
  - preload images
-->
    <link rel="preload" as="image" href="{% static './assets/images/hero-bg.jpg' %}">
    <link rel="preload" as="image" href="{% static './assets/images/hero-slide-1.jpg' %}">
    <link rel="preload" as="image" href="{% static './assets/images/hero-slide-2.jpg' %}">
    <link rel="preload" as="image" href="{% static './assets/images/hero-slide-3.jpg' %}">


    <!-- 
  - preload images
-->
    <link rel="preload" as="image" href="{% static './assets/images/hero-bg.jpg' %}">
    <link rel="preload" as="image" href="{% static './assets/images/hero-slide-1.jpg' %}">
    <link rel="preload" as="image" href="{% static './assets/images/hero-slide-2.jpg' %}">
    <link rel="preload" as="image" href="{% static './assets/images/hero-slide-3.jpg' %}">

    <!-- 
  - favicon
-->
    <link rel="shortcut icon" href="{% static './favicon.svg' %}" type="image/svg+xml">

    <!-- 
  - google font link
-->
</head>

<body class="w3-light-grey" style=" background-color: rgb(255, 255, 255) !important; ">

    <!-- (#HEADER) -->


    <header class="header" data-header style="background:rgb(0, 142, 165); height: 75px">

        <div class="container">

            <!--logo in header (pc)  -->
            <a href="{% url 'home:home_detail' %}" class="logo">
                <img src="{% static 'assets/images/logo-light.png' %}" width="150" height="24" alt="pass & shot home"
                    class="logo-light">
                <img src="{% static 'assets/ball.png' %}" width="24" height="24" alt="ball" class="logo-ball">
                <img src="{% static 'assets/images/logo-dark.png' %}" width="150" height="24" alt="pass & shot home"
                    class="logo-dark">
            </a>

            <nav class="navbar" data-navbar>
                <!-- logo for mobile in hamburger menu -->
                <div class="navbar-top">
                    <a href="{% url 'home:home_detail' %}" class="logo">
                        <img src="{% static 'assets/images/logo-light.png' %}" width="74" height="24"
                            alt="pass & shot home">
                    </a>
                    <!-- x button -->
                    <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
                        <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
                    </button>
                </div>

                <!--NAV IN PAGES  -->
                <ul class="navbar-list">
                    <li>
                        <a href="{% url 'home:home_detail' %}" class="navbar-link">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'about:about_detail' %}" class="navbar-link">About us</a>
                    </li>
                    <li>
                        <a href="{% url 'players:player_list' %}" class="navbar-link">Players</a>
                    </li>
                    <li>
                        <a href="{% url 'coaches:coaches_list' %}" class="navbar-link">Coaches</a>
                    </li>
                    <li>
                        <a href="{% url 'contact:contact' %}" class="navbar-link">Contact</a>
                    </li>
                </ul>

                <div class="wrapper">
                    <a href="{{user.profile.facebook}}" class="contact-link">{{user.profile.email}}</a>

                    <a href="{{user.profile.phone_number}}" class="contact-link">{{user.profile.phone_number}}</a>
                </div>
                <!-- social madia in mobile hamburger menu -->
                <ul class="social-list">
                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-twitter"></ion-icon>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-facebook"></ion-icon>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-dribbble"></ion-icon>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-instagram"></ion-icon>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-youtube"></ion-icon>
                        </a>
                    </li>
                </ul>

            </nav>
            <!-- shop button -->
            <a href="{% url 'tshirt:tshirt_list' %}" class="btn btn-primary">shop</a>

            <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
                <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
            </button>

            <div class="overlay" data-nav-toggler data-overlay></div>

        </div>
    </header>

    <!-- (#HEADER) -->

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="alert-success">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}


    {% block body %}


    {% endblock body %}



    <footer class="footer" style="margin-bottom: -700px;">
        <div class="container grid-list">

            <div class="footer-brand">

                <a href="#" class="logo">
                    <img src="{{ user.profile.imge.url}}" width="74" height="24"
                        alt="pass & shot home">
                </a>

                <p class="footer-text">
                    &copy; pass & shot. <br> {{ user.profile.descrabtion}}
                </p>

                <ul class="social-list">

                    <li>
                        <a href="{{user.profile.facebook}}" class="social-link">
                            <ion-icon name="logo-facebook"></ion-icon>
                        </a>
                    </li>

                    <li>
                        <a href="{{user.profile.x}}" class="social-link">
                            <ion-icon name="logo-twitter"></ion-icon>
                        </a>
                    </li>

                    <li>
                        <a href="{{user.profile.instgram}}" class="social-link">
                            <ion-icon name="logo-instagram"></ion-icon>
                        </a>
                    </li>

                    <li>
                        <a href="{{user.profile.youtube}}" class="social-link">
                            <ion-icon name="logo-youtube"></ion-icon>
                        </a>
                    </li>

                </ul>

            </div>

            <ul class="footer-list">

                <li>
                    <p class="h4 footer-list-title">Get in Touch</p>
                </li>

                <li>
                    <address class="footer-text">
                        {{ user.profile.addris}}
                    </address>
                </li>

                <li>
                    <a href="mailto:any@email.com" class="footer-link">{{user.profile.email}}</a>
                </li>

                <li>
                    <a href="tel:010000000000000" class="footer-link">{{user.profile.phone_number}}</a>
                </li>

            </ul>

            <ul class="footer-list">

                <li>
                    <p class="h4 footer-list-title">Learn More</p>
                </li>

                <li>
                    <a href="#" class="footer-link">About Us</a>
                </li>

                <li>
                    <a href="#" class="footer-link">Our Story</a>
                </li>

                <li>
                    <a href="#" class="footer-link">Projects</a>
                </li>

                <li>
                    <a href="#" class="footer-link">Terms of Use</a>
                </li>

                <li>
                    <a href="#" class="footer-link">Privacy Policy</a>
                </li>

            </ul>

            <div class="footer-list">

                <p class="h4 footer-list-title">Our Newsletter</p>

                <p class="footer-text">
                    Subscribe to our newsletter to get our news & deals delivered to you.
                </p>

                <form action="" class="input-wrapper">
                    <input type="email" name="email_address" placeholder="Email Address" required class="input-field">

                    <button type="submit" class="submit-btn">Join</button>
                </form>

            </div>

        </div>
    </footer>


    <script src="{% static './assets/js/script.js' %}"></script>

    <!-- 
  - ionicon
-->

    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.4/dist/leaflet.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


</body>

</html>