{% extends "base.html" %}

{% block title %}Contact Us{% endblock %}
{% load static %}
<!-- Leaflet CSS -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/leaflet@1.9.4/dist/leaflet.css"
/>

<!-- Leaflet JS -->
<script
  src="https://cdn.jsdelivr.net/npm/leaflet@1.9.4/dist/leaflet.js"
></script>


{% block body %}

<div class="container">
    <div class="site-banner">
        <div class="header-menu">
            <a href="">Logo</a>
            <span id="menu-icon" onClick="toggleMenu()"><img
                    src="{% static 'assets/images/about-banner.png' %}" /></span>
        </div>
        <h1 class="heading">Contact Us</h1>
    </div>

    <div class="footer">
        <div class="footer-column">
            <div id="map" style="height: 400px; width: 100%; margin-top: 20px; border-radius: 8px;"></div>
        </div>




        <div class="footer-column">
            <div class="tile-content">
                <h1>Meet Us</h1>
                <div class="contact-row">
                    <img src=""><span class="tile-field">+466723723666</span>
                </div>
                <div class="contact-row">
                    <img src=""><span class="tile-field">contact@admin.com</span>
                </div>
                <div class="contact-row">
                    <img src=""><span class="tile-field">4th St. 6th of October City, Giza, Egypt</span>
                </div>
            </div>
        </div>

        <div class="footer-column contact-form-container">
            <div class="tile-content">
                <form method="POST">
                    {% csrf_token %}
                    <h1>Contact</h1>

                    {% if messages %}
                    {% for message in messages %}
                    <p style="color: green;">{{ message }}</p>
                    {% endfor %}
                    {% endif %}

                    <div class="contact-row">
                        {{ form.name }}
                    </div>
                    <div class="contact-row">
                        {{ form.email }}
                    </div>
                    <div class="contact-row">
                        {{ form.subject }}
                    </div>
                    <div class="contact-row">
                        {{ form.message }}
                    </div>

                    <button class="button" type="submit">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
  // إحداثيات المكان (مثلاً 6 أكتوبر - الجيزة)
  var map = L.map('map').setView([29.9533, 30.9210], 13);

  // تحميل طبقة الخريطة
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '© OpenStreetMap contributors'
  }).addTo(map);

  // إضافة marker على الموقع
  L.marker([29.9533, 30.9210]).addTo(map)
      .bindPopup('نحن هنا!<br>6 أكتوبر، الجيزة')
      .openPopup();
</script>


{% endblock body %}